/*
display
justify-content
align-items
padding
margin
list-style
*/

body {
  margin: 0;
}

.mobile-nav-button img {
  width: 18px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 30px;
  padding-right: 30px;
}

.desktop-nav ul {
  list-style: none;
  display: flex;
}

.desktop-nav ul li {
  margin: 0 20px;
}

@media (min-width: 800px) {
  .mobile-nav {
    display: none;
  }
}

@media (max-width: 799px) {
  .desktop-nav {
    display: none;
  }
}

/* again with this one, could not make progress without looking at solution */